node_modules
package-lock.json

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.aider*

# ide
.idea

# generated on build
static/pwa-512x512.png
static/pwa-192x192.png
static/pwa-64x64.png
static/maskable-icon-512x512.png
static/apple-touch-icon-180x180.png
/dev-dist

.ai